fastapi==0.124.4
starlette==0.50.0
uvicorn[standard]==0.38.0
psycopg2-binary==2.9.11
python-dotenv==1.1.1
pydantic[email]==2.12.5
pydantic-settings==2.11.0
requests==2.32.5
httpx==0.28.1
cachetools==6.2.1
motor==3.7.1
pymongo==4.15.4
jinja2==3.1.6
itsdangerous==2.2.0
passlib[argon2]==1.7.4
python-multipart==0.0.20
PyJWT[crypto]==2.10.1
python-jose[cryptography]==3.5.0
python-dateutil==2.9.0.post0
apscheduler==3.11.1
prometheus-client==0.23.1
openai==1.109.1
webauthn==2.7.0
pywebpush==2.1.1
firebase-admin==7.1.0
