{% extends "base.html" %}
{% block title %}New | FinTracker{% endblock %}
{% block content %}
<h3>Add Transaction</h3>

<form method="post" action="/transactions/add" id="transaction-form">

  <!-- Amount -->
  <label>Amount</label>
  <input type="number" step="0.01" name="amount" required>

  <!-- Account -->
  <label>Account</label>
  <select name="account_id" id="account" required>
    <option value="">-- Select Account --</option>
    {% for acc in accounts %}
      <option value="{{ acc._id }}">
        {{ acc.name }} (₹{{ acc.balance }})
      </option>
    {% endfor %}
  </select>

  <!-- Transaction Type -->
  <label>Type</label>
  <select name="tx_type" id="tx_type" required>
    <option value="">-- Select Type --</option>
    <option value="debit">Expense</option>
    <option value="credit">Income</option>
    <option value="transfer">Self Transfer</option>
  </select>

  <!-- Target Account (only for transfer) -->
  <div id="target-account-wrapper"  class="tohidden">
    <label>Transfer To</label>
    <select name="target_account_id" id="target_account">
      <option value="">-- Select Target Account --</option>
      {% for acc in accounts %}
        <option value="{{ acc._id }}">
          {{ acc.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <!-- Category -->
  <label>Category</label>
  <select name="category_code" id="category" disabled required>
    <option value="">-- Select Category --</option>
  </select>

  <!-- Subcategory -->
  <label>Subcategory</label>
  <select name="subcategory_code" id="subcategory" disabled required>
    <option value="">-- Select Subcategory --</option>
  </select>

  <!-- Description -->
  <label>Description</label>
  <input type="text" name="description">

  <!--Recurring Transaction-->
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" id="isRecurring">
    <label class="form-check-label">
      Recurring Transaction
    </label>
  </div>


  <button type="submit">Add Transaction</button>
</form>

<div id="recurringModal" class="modal">
  <div class="modal-content">
    <h5>Recurring Details</h5>

    <label>Frequency</label>
    <select name="frequency">
      <option value="monthly">Monthly</option>
      <option value="weekly">Weekly</option>
      <option value="yearly">Yearly</option>
    </select>

    <label>Repeat Every</label>
    <input type="number" name="interval" value="1" min="1">

    <label>Start Date</label>
    <input type="date" name="start_date">

    <label>End Date (Optional)</label>
    <input type="date" name="end_date">

    <label>
      <input type="checkbox" name="auto_post" checked>
      Auto-create transactions
    </label>
  </div>
</div>


<script src="/static/js/transactions.js" defer></script>
{% endblock %}

