html {
  box-sizing: border-box;
  /* overflow: hidden ; */
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #a8cef3;
}

main {
  padding: 1rem;
}

.header {
  background: #0f172a;
  color: white;
  padding: 1rem;
}

.header nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #131a2b;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.page-container {
  max-width: 90vw;
  margin: 0 auto;
  background: #f4f6f9;
  padding: 32px 16px;
}

.card {
  background: rgb(173, 151, 151);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  nav-down: nav-down 0.3s ease-in-out;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 12px;
}

/* .submit-button {
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #2563eb;
  color: white;
  border: 1px solid #062e83;
  cursor: pointer;
} */

/* ---------- Buttons ---------- */
button[type="submit"] {
  background: #166534; /* deep green */
  color: white;
  padding: 14px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
  margin-top: 12px;
}

button[type="submit"]:hover {
  background: #15803d;
}

button[type="submit"]:active {
  transform: scale(0.98);
}



/* Mobile improvements */
@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  .card {
    padding: 0.75rem;
  }

  button {
    padding: 8px 12px;
  }
}

/* Hide Arrows in Numer Input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
} 